ENV_NAME=qa
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://fakestoreapi.com
USER_STANDARD=standard_user
USER_LOCKED_OUT=locked_out_user
USER_PROBLEM=problem_user
USER_PERFORMANCE_GLITCH=performance_glitch_user
USER_UNKNOWN=usuario_inexistente
PASSWORD_VALID=secret_sauce
PASSWORD_INVALID=clave_incorrecta
CHECKOUT_FIRST_NAME=Elyer
CHECKOUT_LAST_NAME=Maldonado
CHECKOUT_POSTAL_CODE=1425
ISSUE_URL_TEMPLATE=https://jira.empresa.com/browse/%s
TMS_URL_TEMPLATE=https://testops.empresa.com/case/%s

# QASL Manual Testing (opcional). Con QASL_URL y QASL_TOKEN los resultados se publican en la herramienta.
# QASL_URL=http://localhost:4100
# QASL_TOKEN=qasl-demo-token
# QASL_PROJECT=TIENDA
# QASL_PLAN=PLAN-01
# QASL_WEB_URL=http://localhost:8081
