ENV_NAME=qa
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://fakestoreapi.com
USER_STANDARD=standard_user
USER_LOCKED_OUT=locked_out_user
USER_PROBLEM=problem_user
USER_PERFORMANCE_GLITCH=performance_glitch_user
USER_UNKNOWN=usuario_inexistente
PASSWORD_VALID=secret_sauce
PASSWORD_INVALID=clave_incorrecta
CHECKOUT_FIRST_NAME=Elyer
CHECKOUT_LAST_NAME=Maldonado
CHECKOUT_POSTAL_CODE=1425
ISSUE_URL_TEMPLATE=https://jira.empresa.com/browse/%s
TMS_URL_TEMPLATE=https://testops.empresa.com/case/%s
