ENV_NAME=qa
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://dummyjson.com
USER_STANDARD=standard_user
USER_LOCKED_OUT=locked_out_user
USER_PROBLEM=problem_user
USER_PERFORMANCE_GLITCH=performance_glitch_user
USER_UNKNOWN=usuario_inexistente
PASSWORD_VALID=secret_sauce
PASSWORD_INVALID=clave_incorrecta
CHECKOUT_FIRST_NAME=Elyer
CHECKOUT_LAST_NAME=Maldonado
CHECKOUT_POSTAL_CODE=1425
VIDEO=on
PANTALLA_ANCHO=1920
PANTALLA_ALTO=1080
RESPONSABLE=elyer.maldonado
PERF_PERFIL=smoke
PERF_SUT_PORT=4300
PERF_PROYECTO=QASL · Rendimiento
PERF_CODIGO=PERF-01
QASL_URL=
QASL_TOKEN=
QASL_PROJECT=TIENDA
QASL_PLAN=PLAN-01
QASL_WEB_URL=http://localhost:8081
